@model Quiron.LojaVirtual.Dominio.Entidades.Produto

<style type="text/css">    
    a.deco-none {
        color: #000000;
        text-decoration: none;
    }
</style>

<div class="well">

    @if (Model.Imagem != null)
    {
        <div class="row">
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="120" height="120" src="@Url.Action("ObterImagem", "Vitrine", new { Model.ProdutoId })" />
            </div>
        </div>
    }
    
    <div class="row">
        <h4>
            @Html.ActionLink(@Model.Nome, "Detalhes", "Vitrine", new { id = @Model.ProdutoId, produto = @Model.Nome.ToSeoUrl() }, new { @class = "deco-none" })
            <br />
            <span class="pull-right label label-primary">
                @Model.Preco.ToString("c")
            </span>
        </h4>
    </div>

    @*
    <div class="row">
        <div class="col-xs-10">
            <h3>
                <strong>@Model.Nome</strong>
            </h3>
            <h3>
                <span class="lead">@Model.Descricao</span>
            </h3>
        </div>
        <div class="col-xs-2">
            <h3>
                <span class="pull-right label label-primary">@Model.Preco.ToString("c")</span>
            </h3>

            @using (Html.BeginForm("Adicionar", "Carrinho"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(produto => produto.ProdutoId)
                    @Html.Hidden("quantidade", 1)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <br />
                    <input type="submit" class="btn btn-success" value="Comprar">
                </div>
            }
        </div>
    </div>
    *@

</div>